# Database
DATABASE_URL="postgresql://postgres:root@localhost:5432/swipe-db?schema=public"

# Redis
REDIS_URL="redis://localhost:6379"

# JWT
JWT_SECRET="your-super-secret-jwt-key-change-in-production"
JWT_EXPIRES_IN="15m"
REFRESH_TOKEN_EXPIRES_IN="7d"

# App
PORT=3001
NODE_ENV="development"

# OTP
OTP_EXPIRES_IN=300


PRISMA_ENGINES_MIRROR=https://binaries.prisma.sh
PRISMA_QUERY_ENGINE_BINARY=D:\temp\prisma-engine\query-engine-windows.dll.node